<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt" throwExceptions="true" throwConfigExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets>
    <target xsi:type="File" name="alldata" fileName="demo-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="otherFile-web" fileName="demo-Other-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <target name="database"
        xsi:type="Database"
        connectionString="Server=(localdb)\MSSQLLocalDB;Trusted_Connection=true;Database=EmployeeDB;"
        commandType ="StoredProcedure"
        commandText="[dbo].[NLog_AddLog_p]"
          >
      <parameter name="@machineName" Layout="${machineName}"/>
      <parameter name="@logged" Layout="${date}"/>
      <parameter name="@level" Layout="${level}"/>
      <parameter name="@message" Layout="${message}"/>
      <parameter name="@logger" Layout="${logger}"/>
      <parameter name="@properties" Layout="${all-event-properties:separator=|}"/>
      <parameter name="@callsite" Layout="${callsite}"/>
      <parameter name="@exception" Layout="${exception:tostring}"/>

    </target>
    <target xsi:type="Null" name="blackhole">

    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="alldata" />
    <logger name="Microsoft.*" maxLevel="Info" writeTo="blackhole" />
    <logger name="*" minlevel="Trace" writeTo="otherFile-web" />
    <logger name="*" minlevel ="Trace" writeTo="Database"/>
  </rules>
</nlog>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt">
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="database"
          xsi:type="Database"
          connectionString="Server=(localdb)\\MSSQLLocalDB;Trusted_Connection=true;database=EmployeeDB;"
          commandType ="StoredProcedure"
          commandText="[dbo].[NLog_AddLog_p]"
          >
      <parameter name="@machineName" Layout="${machineName}"/>
      <parameter name="@logged" Layout="${date}"/>
      <parameter name="@level" Layout="${level}"/>
      <parameter name="@message" Layout="${message}"/>
      <parameter name="@logger" Layout="${logger}"/>
      <parameter name="@properties" Layout="${all-event-properties:separator=|}"/>
      <parameter name="@callsite" Layout="${callsite}"/>
      <parameter name="@exception" Layout="${exception:tostring}"/>

    </target>
    <target xsi:type="Null" name="blackhole">
      
    </target>
    
  </targets> 
  <rules>
    <logger  name="*" minlevel ="Trace" writeTo="Database"/>
  </rules>
</nlog>-->