.btn{
    width:75px;
}
.ImageThumbNail{
    height:200px;
    width:auto;
    text-align:center
}
.btn-Props{
    text-align:center;
    vertical-align:middle;
    width:auto;
}
em{
    font-style:italic;
}
strong{
    font-weight:bold;
}